.contact-container {
    height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact {
    text-align: center;
    padding: 20px;
  }
  
  .contact h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #025c78;
  }
  
  .contact a {
    display: inline-block;
    margin: 0 10px;
    font-size: 36px;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .contact a:hover {
    color: #025c78;
  }
  