body {
    background-color: #fff;/* veya istediğiniz arka plan rengini kullanın */
  }
.photo-portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .photo-item {
    width: calc(25% - 10px); /* 3 fotoğraf için genişlik ayarı */
    margin-bottom: 20px; /* İstediğiniz boşluğu belirleyin */
    box-sizing: border-box; /* Kenar boşluğu nedeniyle genişlik sorunlarını çözmek için */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .photo-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* PhotoPortfolio.css */

.filter-options {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px; /* İstediğiniz boşluğu belirleyin */
  }
  
  .filter-options button {
    background-color: #025c78; /* Buton arka plan rengi */
    color: #fff; /* Buton metin rengi */
    padding: 10px 15px;
    border: none;
    border-radius: 20px; /* Yuvarlak kenarlar için */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Renk geçiş efekti */
  }
  
  .filter-options button:hover {
    background-color: #2980b9; /* Butona fare üzerine gelindiğinde arka plan rengi */
  }
  
